.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    gap: 8px;
    height: 42px;
    width: 42px;
    border-width: 2px;
    background:  rgb(241 245 249);
    border-radius: 50%;
    cursor: pointer;
    fill: #262626;
    stroke: #525252 ;
  }
  
  .button:hover {
    background: rgb(234 88 12);
    color: rgb(255 255 255);
    stroke: white;
    fill: white;
  }
  
  .button:hover .svg-icon {
    animation: msg 2s linear infinite;
  }

  .svg-icon:hover{
    stroke: white;
  }
  
  @keyframes msg {
    0% {
      transform: translate(0, 0) scale(1);
    }
  
    15% {
      transform: translateX(1px);
    }
  
    30% {
      transform: scale(1.1);
    }
  
    45% {
      transform: translateY(1px);
    }
  
    60% {
      transform: translateY(0px);
    }
  
    75% {
      transform: scale(1);
    }
  
    90% {
      transform: translateX(-px);
    }
  
    100% {
      transform: translate(0, 0) scale(1);
    }
  }